@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Ubuntu:wght@300;500;700&display=swap');
body, header, main, footer  {
    min-height: 50px;
    
}
body{
    font-family: roboto Condensed;
}
nav{
    background-image: linear-gradient(to right , rgb(101, 149, 194),rgb(120, 164, 193),rgb(152, 190, 219)) !important;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.main-buscador {
    background-image:url("/assets/img/hotel.jpg");
    border-radius: 1.0rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
    align-items: center;
    
}

.main-buscador h2,h4 {
    font-size: 25px !important;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main-buscador img:hover{
    animation-name: asideImagenesRotationIzq;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.main-buscador input{
    border: 2px solid white !important;
    border-radius: 1.0rem !important ;
    width: 20vw;
    height: 5vh !important;
}

.div-Ayuda{
    border-radius: 20%;
}
.main-section{
    
    width: 80%;
    margin: 5.5rem;
    
}
.div-preguntas {
    border-top: 2px grey solid;
    text-align: center;
    width: 40%;
}

.div-respuestas {
    border-top: 2px grey solid;
    width: 40%;
    text-align: left;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}


.main-aside{
    width: 30%;
    margin: 8px;
    flex-direction: row;
}



.playa_1 {
    border-radius: 5%;
    width: 100%;
    display: block;
    animation-name: asideImagenesSlidein,asideImagenesOpacidad,asideImagenesRotationIzq;
    animation-duration: 2s,3s,2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.playa_2 {
    border-radius: 5%;
    width: 100% ;
    display: block;
    animation-name: asideImagenesSlidein,asideImagenesOpacidad,asideImagenesRotationDer;
    animation-duration: 2s,3s,2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.section-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.0rem;
}
.logosMediosdePago {
    display: grid !important;
    grid-template-columns: repeat(3,auto);
    grid-gap: 1.0rem !important;
    padding: 1.0rem !important;

}
.logosMediosdePago img {
    width: 5.0rem;
}


html{
    scroll-behavior: smooth;
    font-family: roboto Condensed !important;
}

body{
    margin: 0;
    
}
.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(249, 250, 250);
}

header .title{
    margin: 0;
    padding: 15px 20px;
    font-weight: bold;
    color: rgb(9, 10, 10);
    font-size: 2.5em;
    text-align: center;
}

header .container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(241, 244, 244);
    font-size: 1.25em;
}

header a:hover{
    color: rgb(142, 106, 176);
}

footer {
    background-color: rgb(37, 39, 39);
}

footer .container{
    color: rgb(230, 237, 243);
    height: 250px;
}

footer p{
    text-align: center;
    color: rgb(249, 249, 248);
}
footer h5{
    text-align: center;
    color: rgb(249, 249, 248);
    font-size: 25px;
}

.img-container{
    display: flex;
    justify-content: space-between;
}

footer ul{
    text-align: center;
    color: lemonchiffon;
    list-style: none;
    text-decoration: none;
    font-size: larger;
}

.about-btn{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}
.fa-twitter{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(65, 233, 236);
    
    
}
.fa-github{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(171, 167, 167);
}
.fa-facebook-f{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(23, 23, 243);
}
.fa-whatsapp{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(20, 201, 53);
}
.fa-envelope{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(247, 248, 248);
}

/* FORMUALRIO*/


.aside-formulario {
    width: 35%;
    position: absolute;
    top: 20%;
    right: 0%;
    flex-direction: row;
    text-align: center;

}

.aside-formularioTablet{
    width: 35%;
    position: absolute;
    top: 20%;
    right: 0%;
    flex-direction: row;
    text-align: center;
}


.aside-imgImpar-form{
    padding: 4px;
    width: 80%;
    height: 50%;
    border-radius: 5%;
    animation-name: asideFormularioImagenesSlideinIzq;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.aside-imgPar-form{
    padding: 4px;
    width: 80%;
    height: 50%;
    border-radius: 5%;
    animation-name: asideFormularioImagenesSlideinDer;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

                
/* MEDIA QUERIES*/

/* FORMULARIO*/

/*MOBILE*/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .aside-formulario, .aside-formularioTablet {display: none;} 
    .about-btn, .fa-twitter, .fa-github, .fa-facebook-f, .fa-whatsapp {
        width: 30px;
        height: auto;        
    }    
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .aside-formulario {display: none;}
    
}
/*DESKTOP*/
@media screen and (min-width: 1024px) {
    .aside-formularioTablet {display: none;}
    .aside-formulario div{
        width: 90%;
    }
}

/* PREGUNTAS FRECUENTES*/

/*MOBILE*/
@media screen and (min-width: 320px) and (max-width: 767px) {
    .about-btn, .fa-twitter, .fa-github, .fa-facebook-f, .fa-whatsapp {
        width: 30px;
        height: auto;        
    }
    .main-aside,.div-Ayuda {display: none;}
.main-buscador {flex-direction: column;}
.main-buscador h2{
    display: block;
}
input {width:350px;}
.section-container h3 {
    font-size: medium;
}
.logosMediosdePago div{
    width: 40px;
}
.logosMediosdePago img{
    width: 100%;
    height:auto;
}
nav a{
    font-size: 10px;
}   
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-buscador h4{ display: none; }
    .main-buscador input{
        width: 10px;
    }
    }


/*DESKTOP*/
@media screen and (min-width: 1024px) {
    
}






















@keyframes asideImagenesOpacidad{
         from{
            opacity: 0;
         }
         to{
            opacity: 1;
         }

    }

@keyframes asideImagenesSlidein {
        from {
          margin-right: 0%;
        }
      
        to {
          margin-left: 30%;

        }
      }

@keyframes asideFormularioImagenesSlideinIzq {
        from {
          margin-right: 0%;
        }
      
        to {
          margin-left: 5%;

        }
      }

@keyframes asideFormularioImagenesSlideinDer {
        from {
          margin-left: 5%;
        }
      
        to {
          margin-right: 0%;

        }
      }

@keyframes asideImagenesRotationIzq {
        from {
          transform: rotate(10deg);
        }
      
        to {
          transform: rotate(-10deg);

        }
      }
@keyframes asideImagenesRotationDer {
        from {
          transform: rotate(-10deg);
        }
      
        to {
          transform: rotate(10deg);

        }
      }
